
*.log

env/

frontend/.vscode/settings.json

backend/db.sqlite3

backend/core/__pycache__/

backend/accounts/__pycache__/

backend/accounts/migrations/

backend/accounts/models/__pycache__/

frontend/next.config.js

frontend/yarn.lock

frontend/tsconfig.json

frontend/.vscode/settings.json

